@use '/src/style/helpers' as *;

.start{

    &-control{
        width: 100%;
        @include flex-center;
        flex-direction: column;
        row-gap: rem(20);
        position: relative;
    }
    
    &-item-search{
        position: absolute;
        bottom: rem(20);
        right: rem(20);
    }
}

